* { box-sizing: border-box; }

#settings {
    background-color: rgba(0,0,0,0.7);
    color: lightgray;
    position: fixed;
    top: 10px;
    left: 10px;
    padding: 5px;
}

label {
    padding-right: 10px;
    text-align: right;
}

td, th, input { width: 65px; }

.cPSkin { z-index: 100; }